package pages

templ LinkButton(link templ.SafeURL) {
    <a href={link} class="rt-btn">
    { children... }
    </a>
}
templ Button(btnType string) {
    <button type={btnType} class="rt-btn">
    { children... }
    </button>
}