package pages

import (
	"github.com/jonasmh/recipetracker/pkg/models"
)


templ RecipesPage(recipes []models.Recipe) {
	<div>
		<h1>Recipes</h1>
		<ul>
			for _, recipe := range recipes {
				<li><a href={templ.URL("/recipe/" + recipe.Id)}>{ recipe.Title }</a> </li>
			}
		</ul>
	</div>
}
